<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="GroupingTest">
        <groups>
            <run>
                <exclude name="sanityTest"/>
            </run>
        </groups>

        <classes>
            <class name = "com.company.GroupingTest"/>
        </classes>
    </test>
</suite>